.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev { /* Стилизуем отображение стрелки назад в слайдере-карусели */
        position: absolute; /* Располагаем стрелку относительно блока слайдера */
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none; /* Убираем обводку у кнопки */
        background-color: #fff; /* Заливка фона кнопки белого цвета */
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next { /* Стилизуем отображение стрелки вперед в слайдере-карусели */
        position: absolute; /* Располагаем стрелку относительно блока слайдера */
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
        border: none; /* Убираем обводку у кнопки */
        background-color: #fff; /* Заливка фона кнопки белого цвета */
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots { /* Стилизуем отображение точек навигации в слайдере-карусели */
        display: flex;
        justify-content: center;
        list-style-type: none;
        line-height: 1.2;
        li {
            margin: 0 20px;
        }
        button {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%; /* Делаем круги из квадратных кнопок */
        }
        .slick-active {
            button {
                background-color: $main-color; /* Цвет заливки активной кнопки */
                color: #fff;
            }
        }
    }

}