.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__description {
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        color: #ffffff;
    }
    .error { /* Класс от JQuery. Класс сообщений об ошибках при заполнении форм */
        border: 1px solid red; /* Обводит красным поле ввода с ошибкой */
    }
    label.error { /* Сообщения об ошибках */
        border: none; /* Убирает красную обводку у самих сообщений об ошибках */
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: normal;
        color: #fff;
    }

}