.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        width: 460px;
        height: 270px;
        padding: 50px 68px 60px 68px;
        background-color: $main-color;
        top: 0;
        left: 50%; /* Выравниваем блок по-центру */
        transform: translateX(-50%); /* Выравниваем блок по-центру */
    }
    &__address {
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 20px; /* Для того, чтобы строка занимала высоту строго равную высоте шрифта */
        color: #ffffff;
    }
    &__phone {
        display: block; /* Делаем ссылку блочным элементом для выравнивания по-центру */
        margin-bottom: 38px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        line-height: 20px; /* Для того, чтобы строка занимала высоту строго равную высоте шрифта */
        color: #ffffff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px; /* Расстояние между иконками соц.сетей */
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: solid 2px #ffffff;
        img {
            height: 27px;
        }
    }
    iframe { /* Стили для отображения карты Google */
        width: 100%;
        height: 630px;
        border: 0;
    }        

}
