.feed-form { /* Форма данных для клиента. Имя, телефон, эл. почта */
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        border: none;
        padding: 0 20px; /* Внутренние отступы для текста */
        font-size: 14px; /* Высота шрифта для текста */
        font-weight: 300; /* Величина шрифта для текста */
        color: #4b4b4b; /* Цвет для текста */
        margin-bottom: 15px; /* Внешний отступ между формами ввода будет 15рх */
        &:nth-child(3) { /* Внешний отступ для последнего элемента формы будет 20рх */
            margin-bottom: 20px;
        }
    }
    &_mt25 { /* для формы с mt 25px */
        margin-top: 25px;
    }

}