.header {
    display: flex; /* Header делаем с помощью Flex */
    justify-content: space-between; /* Контент располагается равномерно по всей ширине прижимаясь к краям*/
    align-items: center; /* Флексы выравниваются по линии поперечной оси */
    &__logo {
        width: 250px; /* БЕЗОПАСНОСТЬ: Определяем, что логотип будет всегда занимать 250px */
        img {
            width: 100% /* БЕЗОПАСНОСТЬ: Картинка логотипа всегда будет занимать всю ширину 250рх */
        }
    }
    &__official {
        color: #ffffff;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        span {
            display: block; /* Делаем строку блочным элементом, чтобы надпись заняла 2 строки */
            font-size: 18px;
        }
    }
    &__phone { /* НОМЕР ТЕЛЕФОНА */
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        &:hover {
            color: #fff; /* Цвет при наведении мыши будет оставаться белым */
            text-decoration: none; /* Убираем подчеркивание при наведении мыши */
        }
    }
    &__contacts { /* Номер телефона и кнопка Заказать звонок */
        text-align: right; /* Выровняли содержимое блока контакты по правому краю */
    }
}