.reviews {
    padding-bottom: 70px;
    hr { /* Разделительная линия между блоками отзывов */
        margin-top: 50px;
        border-bottom: none;
        background-color: #f6f6f6;
    }
    &_wrapper { /* Отсупы блоков с отзывами по верхнему краю */
        margin-top: 50px;
        &:nth-child(2) {
            margin-top: 70px; /* Отступ первого блока от заголовка */
        }
    }
    &__item { 
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 0;
        img {
            width: 169px;
            height: 169px;
        }
        &__descr { /* Текст внутри каждого блока ОТЗЫВЫ */
            width: 650px;
            margin-left: 62px;
            font-size: 16px;
            line-height: 22px;
            font-weight: normal;
            text-align: justify;
            color: #0d0d0d;
            span {
                font-size: 14px;
                font-weight: 300;
                text-align: left;
                color: #646464;
            }
            &__name {
                font-size: 18px;
                font-weight: 700;
                text-align: left;
                color: #0d0d0d;
            }
        }
    } 
    
}