.title { /* Заголовок */
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
    &__left { /* Заголовок выровненный по левому краю */
        font-size: 36px;
        text-align: left;
        color: #fff;
    }
}